Package: org.excelcoin.phone.redirectvowifitweak
Name: RedirectVoWiFiTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zhuowei Zhang
Author: Zhuowei Zhang
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
